bin
obj

.env
.vs

MicroserviceArchitecture.BackendForFrontend/obj
MicroserviceArchitecture.BackendForFrontend/bin

MicroserviceArchitecture.Core/obj
MicroserviceArchitecture.Core/bin

MicroserviceArchitecture.Processor/obj
MicroserviceArchitecture.Processor/bin

MicroserviceArchitecture.Tests/obj
MicroserviceArchitecture.Tests/bin

MicroserviceArchitecture.Simulator/bin
MicroserviceArchitecture.Simulator/obj

MicroserviceArchitecture.Simulator.Tests/bin
MicroserviceArchitecture.Simulator.Tests/obj